.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: '您的代码片段', data: {placement: 'right'} do
        您的代码片段
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: '浏览代码片段', data: {placement: 'right'} do
        浏览代码片段

  - if current_user
    .nav-controls.d-none.d-sm-block
      = link_to "新建代码片段", new_snippet_path, class: "btn btn-success", title: "New snippet"
