- breadcrumb_title _("Settings")
- page_title _("Settings")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.as-visibility-access.no-animate#js-visibility-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Visibility and access controls')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Set default and restrict visibility levels. Configure import sources and git access protocol.')
  .settings-content
    = render 'visibility_and_access'

%section.settings.as-account-limit.no-animate#js-account-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Account and limit')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Session expiration, projects limit and attachment size.')
  .settings-content
    = render 'account_and_limit'

%section.settings.as-diff-limits.no-animate#js-merge-request-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Diff limits')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Diff content limits')
  .settings-content
    = render 'diff_limits'

%section.settings.as-signup.no-animate#js-signup-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Sign-up restrictions')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Configure the way a user creates a new account.')
  .settings-content
    = render 'signup'

%section.settings.as-signin.no-animate#js-signin-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Sign-in restrictions')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Set requirements for a user to sign-in. Enable mandatory two-factor authentication.')
  .settings-content
    = render 'signin'

%section.settings.as-terms.no-animate#js-terms-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Terms of Service and Privacy Policy')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Include a Terms of Service agreement and Privacy Policy that all users must accept.')
  .settings-content
    = render 'terms'

- if koding_enabled?
  %section.settings.as-koding.no-animate#js-koding-settings{ class: ('expanded' if expanded_by_default?) }
    .settings-header
      %h4
        = _('Koding')
      %button.btn.btn-default.js-settings-toggle{ type: 'button' }
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p
        = _('Online IDE integration settings.')
    .settings-content
      = render 'koding'

= render_if_exists 'admin/application_settings/external_authorization_service_form', expanded: expanded_by_default?

%section.settings.as-terminal.no-animate#js-terminal-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Web terminal')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Set max session time for web terminal.')
  .settings-content
    = render 'terminal'

%section.settings.no-animate#js-web-ide-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Web IDE')
    %button.btn.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Manage Web IDE features')
  .settings-content
    = form_for @application_setting, url: admin_application_settings_path(anchor: "#js-web-ide-settings"), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          .form-check
            = f.check_box :web_ide_clientside_preview_enabled, class: 'form-check-input'
            = f.label :web_ide_clientside_preview_enabled, class: 'form-check-label' do
              = s_('IDE|Client side evaluation')
            %span.form-text.text-muted
              = s_('IDE|Allow live previews of JavaScript projects in the Web IDE using CodeSandbox client side evaluation.')

      = f.submit _('Save changes'), class: "btn btn-success"
