- type = local_assigns.fetch(:type, :issues)
- if defined?(type) && type == :merge_requests
  - page_context_word = '合并请求'
- else
  - page_context_word = '问题'
- display_count = local_assigns.fetch(:display_count, :true)

%ul.nav-links.issues-state-filters.mobile-separator.nav.nav-tabs
  %li{ class: active_when(params[:state] == 'opened') }>
    = link_to page_filter_path(state: 'opened', label: true), id: 'state-opened', title: "只显示当前未关闭的 #{page_context_word} 。", data: { state: 'opened' } do
      #{issuables_state_counter_text(type, :opened, display_count)}

  - if type == :merge_requests
    %li{ class: active_when(params[:state] == 'merged') }>
      = link_to page_filter_path(state: 'merged', label: true), id: 'state-merged', title: '只显示当前已合并的合并请求。', data: { state: 'merged' } do
        #{issuables_state_counter_text(type, :merged, display_count)}

    %li{ class: active_when(params[:state] == 'closed') }>
      = link_to page_filter_path(state: 'closed', label: true), id: 'state-closed', title: '只显示当前已关闭、未合并的合并请求。', data: { state: 'closed' } do
        #{issuables_state_counter_text(type, :closed, display_count)}
  - else
    %li{ class: active_when(params[:state] == 'closed') }>
      = link_to page_filter_path(state: 'closed', label: true), id: 'state-closed', title: '只显示当前已关闭的问题', data: { state: 'closed' } do
        #{issuables_state_counter_text(type, :closed, display_count)}

  = render 'shared/issuable/nav_links/all', page_context_word: page_context_word, counter: issuables_state_counter_text(type, :all, display_count)
